.line-border {
    border-left: 1px solid #dce3ea;
}

.hor-line-border {
    margin-top: 20px;
    border: 1px solid #dce3ea;
}

.footer-border {
    height: 20px;
}

.main-menu-border {
    height: 0px;
}