{% block mainContent %}

    <div>
    {% for article in articles %}
        {% if article == articles|first %}
        {% else %}
            <div class="hor-line-border"></div>
        {% endif %}
        <h2>{{ article.getTitle()|raw }}</h2>
        {{ article.getContent()|raw }}
        {#{% for video in article.getVideos() %}#}
            {#{% media video.getId(), 'youtube' %}#}
        {#{% endfor %}#}
    {% endfor %}
    </div>

{% endblock %}