{% block mainMenu %}

    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Link</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown 2 <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Dropdown 2 Child 1</a></li>
                            <li><a href="#">Dropdown 2 Child 2</a></li>
                            <li><a href="#">Dropdown 2 Child 3</a></li>
                            <li><a href="#">Dropdown 2 Child 4</a></li>
                        </ul>
                    </li>
                </ul>

                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control pull-right" style="width: 300px; margin-right: 35px, border: 1px solid black; background-color: #e5e5e5;" placeholder="Search">
                        <span class="input-group-btn">
							<button type="reset" class="btn btn-default">
								<span class="glyphicon glyphicon-remove">
									<span class="sr-only">Close</span>
								</span>
							</button>
							<button type="submit" class="btn btn-default">
								<span class="glyphicon glyphicon-search">
									<span class="sr-only">Search</span>
								</span>
							</button>
						</span>
                    </div>
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container" id="page">
        Me finks this is a page.
    </div>


    {#<!-- The justified navigation menu is meant for single line per list item.#}
             {#Multiple lines will require custom code not provided by Bootstrap. -->#}
    {#<div class="masthead">#}
        {#<h3 class="text-muted">Project name</h3>#}
        {#<nav>#}
            {#<ul class="nav nav-justified">#}
                {#<li class="active"><a href="#">Home</a></li>#}
                {#<li><a href="#">Projects</a></li>#}
                {#<li><a href="#">Services</a></li>#}
                {#<li><a href="#">Downloads</a></li>#}
                {#<li><a href="#">About</a></li>#}
                {#<li><a href="#">Contact</a></li>#}
            {#</ul>#}
        {#</nav>#}
    {#</div>#}

    {#<!-- Jumbotron -->#}
    {#<div class="jumbotron">#}
        {#<h1>Marketing stuff!</h1>#}
        {#<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>#}
        {#<p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>#}
    {#</div>#}
{% endblock %}