{% block rightContent %}

    facebook page
    <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline"
         data-small-header="true" data-adapt-container-width="true" data-hide-cover="false"
         data-show-facepile="false">
        <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/facebook">Facebook</a>
        </blockquote>
    </div>

    facebook page
    <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline"
         data-small-header="true" data-adapt-container-width="true" data-hide-cover="false"
         data-show-facepile="false">
        <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/facebook">Facebook</a>
        </blockquote>
    </div>

    facebook page
    <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline"
         data-small-header="true" data-adapt-container-width="true" data-hide-cover="false"
         data-show-facepile="false">
        <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/facebook">Facebook</a>
        </blockquote>
    </div>

    <h2>Heading Right content</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
    <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
{% endblock %}